/*全体*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #81635d;
    font-family: "Kiwi Maru", serif;
    font-weight: 400;
    font-style: normal;
}

ul {
    list-style: none;
}

p {
    padding: 6px;
}

h2 {
    padding: 6px;
    font-family: "Zen Kurenaido", sans-serif;
    font-weight: 600;
    font-style: normal;
}

h3 {
    padding: 6px;
}

a {
    margin: 0 15px;
    font-size: 1.2em;
}

a:hover {
    color: #fff;
}

section {
    padding: 50px 0;
}

/*header*/
header {
    background-color: #a2e2e2;
    padding: 10px;
}

header img {
    width: 300px;
    margin: 0 auto;
}

nav,
.nav-link ul,
.flex-box {
    display: flex;
    justify-content: space-between;
}

main {
    background-color: #fef4d9;
}

.contener {
    background-color: white;
    border: solid 2px #81635d;
    padding: 20px;
    position: relative;
}

.btn1 {
    background-color: yellow;
    display: block;
    width: 250px;
    padding: 15px 15px;
    border-radius: 15px;
    margin: 30px auto;
    text-align: center;
}

.btn2 {
    background-color: yellow;
    display: block;
    width: 250px;
    padding: 15px 15px;
    border-radius: 15px;
    margin: 20px auto 70px 0;
    text-align: center;
}
/*top*/
.top {
    background-image: url(img/top.jpg);
    background-size: cover;
    background-position: center;
    height: 600px;
    position: relative;
}

.title {
    width: 800px;
    margin: 180px auto;
}

.title h1 {
    text-align: center;
    font-size: 180%;
    color: white;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, .6);
}

strong {
    font-family: "Train One", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 170%;
    color: white;
}

/*news*/
.news {
    width: 800px;
    margin: 50px auto;
}

.news img {
    width: 200px;
}

.news-flag {
    position: absolute;
    z-index: 1;
    top: 690px;
}

.news1 {
    width: 375px;
    margin-top: 30px;
    margin-right: 20px;
}

.news1 img {
    margin: 20px 20px 0 150px;
}

.news2 {
    margin: 0 auto auto 0;
}

/*consept*/
.consept {
    width: 800px;
    margin: 50px auto;
}

.consept img {
    width: 600px;
    margin-right: 0;
    position: relative;
    right: 70px;
}

.consept1 {
    padding-top: 40px;
    margin-right: 20px;
    z-index: 1;
}

.consept1 h2 {
    margin-bottom: 25px;
    font-size: 2em;
}

.consept1 p {
    width: 300px;
}

/*recipe*/
.recipe {
    margin: 0 auto;
    background-color: white;
    background-size: cover;
    text-align: center;
}

.recipe img {
    width: 200px;
}

.recipe p {
    margin: 20px auto;
}

.recipe1 {
    width: 680px;
    margin: 40px auto;
}

/*lesson*/
.lesson {
    background-image: url(img/img2.jpg);
    background-size: 100%;
    margin: 0 auto 0;
}

.lesson div {
    width: 680px;
    margin: 30px auto;
    text-align: center;
}

.lesson div p {
    margin-top: 10px;
}

/*online*/
.online {
    width: 800px;
    margin: 70px auto 0;
}

.online img {
    width: 350px;
    margin-right: 30px;
}

.online2 {
    width: 500px;
}

/*accese*/
.accese {
    width: 800px;
    margin: 40px auto;
}

.accese1 {
    width: 500px;
}

.accese2 {
    padding: 30px 20px 75px 0;
}

iframe {
    margin-left: 20px;
}

/*fin*/
.fin {
    width: 250px;
    margin: 0 auto;
}

.fin img {
    width: 250px;
    margin: 0 auto 50px;
}

/*recipeページ*/
.recipe-page {
    width: 700px;
    margin: 0 auto;
}

.recipe-page h1 {
    text-align: center;
    margin-bottom: 30px;
}

.recipe-page1 img {
    width: 350px;
    padding-right: 30px;
}

.recipe-page3 div {
    width: 680px;
    margin: 10px auto;
    text-align: center;
}

.recipe-page3 div p {
    text-align: center;
}

.recipe-page3 div ul{
    margin: 20px auto;
}

.recipe-page3 div ul li{
    width: 200px;
    margin: 0 auto;
    text-align: center;
}

.recipe-page3 div ol li {
    margin: 10px 100px;
    text-align: left;
}

/*mailページ*/
.mail {
    margin: 0 auto 0;
}

.mail div {
    width: 680px;
    margin: 30px auto;
}

.mail div h1 {
    padding: 6px;
    font-family: "Zen Kurenaido", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.mail div p {
    margin-top: 10px;
}
/*footer*/
footer {
    background-image: url(img/line.jpg);
    background-size: 100%;
}

footer p {
    text-align: center;
}

/*レスポンシブスマホ*/
@media(max-width:768px){
    
/*全体*/
.contener {
    margin: 20px auto;
}

.flex-box {
    flex-wrap: wrap;
    margin: 0 auto;
    text-align: center;
}

section {
    padding: 30px 0;
}

/*header*/
nav {
    display: block;
    justify-content: center;
    width: 300px;
    margin: 0 auto;
}
/*indexページ*/
/*top*/
.title {
    width: 90%;
}
    
/*news*/
.news {
    width: 90%;
    margin: 30px auto;
    padding: 0 auto;
}

.news1,.news2 {
    margin: 10px auto;
}

/*consept*/
.consept {
    width: 100%;
    margin: 0 auto;
}

.consept img {
    width: 100%;
    right: auto;
}

.consept1 {
    width: 100%;
    margin: 0 auto;
    padding: 0;
    text-align: center;
}

.consept1 .contener {
    width: 90%;
}

.consept1 p {
    text-align: center;
    width: 100%;
}

/*recipe*/
.recipe1 {
    width: 300px;
}

figure {
    margin: 0 auto;
}

/*lesson*/
.lesson .contener {
    width: 90%;
}

/*online*/
.online,
.online2 {
    width: 100%;
}

.online .flex-box {
    width: 90%;
}

.online img {
    width: 100%;
    margin: 0;
}

.btn2 {
    margin: 20px auto;
}

/*accese*/
.accese,iframe {
    width: 100%;
    margin: 0 auto;
}

.accese .flex-box {
    width: 90%;
}

.accese .flex-box p {
    margin: 0 auto;
}

.accese1 {
    width: 100%;
}

/*recipeページ*/
.recipe-page {
    width: 100%;
    margin: 0 auto;
}

.recipe-page1 img {
    width: 100%;
    margin: 0 auto;
    padding: 0;
}

.recipe-page1 {
    width: 100%;
    text-align: center;
}

.recipe-page .contener {
    width: 90%;
}

.recipe-page1 p {
    text-align: center;
    width: 100%;
}

.recipe-page3 .contener {
    width: 90%;
}


/*mailページ*/
.mail .contener {
    width: 90%;
}
}